# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints
notebooks/cache
notebooks/data/

# VSCode
.vscode/
*.code-workspace

# Data, Cache, Logs
cache/
data/raw/boundaries/
data/raw/charging_stations/
data/raw/population/
data/raw/potential_locations/
data/processed/
!src/data/
results/

# Gurobi
*.lp
*.mps
*.sol

# Package
kwc_ev_opt.egg-info/