# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints
notebooks/cache

# VSCode
.vscode/
*.code-workspace

# Data
data/
!src/data/

# Gurobi
*.lp
*.mps
*.sol

# Package
kw_ev_opt.egg-info/